.banner {
	padding-top: 152px 0 
}
.header {
	padding: 0 11.033% 0 0;
	height: 50px;
}
.menu {
	display: block;
}
.logo {
	float: none;
	margin: 22px auto 0;
	width: 7.819%;
}
.topNav {
	display: none;
}
